name : Release

on:
  push:
    tags:        
      - "v*"


jobs:
  build:
    name: set env
    runs-on: ubuntu-latest
    steps:
    - name : CheckOut
      uses : actions/checkout@v2
    - name : set_up_python3.8
      uses : actions/setup-python@v4
      with : 
        python-version : 3.8
        architecture: "x64"
    - name: install poetry
      run: pipx install poetry
      shell: bash

    - name : InstallDependance
      run: poetry install --without dev
      shell: bash

    - name : BuildDist
      run : poetry build
      shell: bash 

    - name : Realease whl
      uses : ncipollo/release-action@v1
      with :
        artifacts: "*/*.whl,*/*.zip,*/*.tar.gz"
      
      
    - name : Publish to pypi
      if: startsWith(github.ref, 'refs/tags')
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        password: ${{ secrets.PYPI_TOKEN }}

  
